<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coderfamily.lamj.dao.GroupMapper">
    <resultMap id="GroupEntity" type="com.coderfamily.lamj.model.GroupEntity">
        <result column="Id" jdbcType="INTEGER" property="id"/>
        <result column="Name" jdbcType="VARCHAR" property="name"/>
        <result column="Code" jdbcType="VARCHAR" property="code"/>
        <result column="Status" jdbcType="INTEGER" property="status"/>
        <result column="Description" jdbcType="VARCHAR" property="description"/>
    </resultMap>

    <select id="selectGroupByCondition" parameterType="com.coderfamily.lamj.model.GroupEntity" resultMap="GroupEntity">
        SELECT <include refid="sql_column"></include> FROM MT_Group
        <where>
            <include refid="sql_where"></include>
        </where>
    </select>

    <select id="selectGroupByUserId" parameterType="int" resultMap="GroupEntity">
        SELECT <include refid="sql_column"></include> FROM MT_Group LEFT JOIN MT_UserGroup ON
        MT_UserGroup.UserId=MT_Group.Id
        WHERE MT_UserGroup.UserId = #{id}
    </select>

    <select id="existsGroupByName" parameterType="String" resultType="boolean">
    SELECT EXISTS (SELECT 1 FROM MT_Group WHERE Name = #{name})
  </select>

    <insert id="insert" parameterType="com.coderfamily.lamj.model.GroupEntity" useGeneratedKeys="true" keyProperty="Id">
        INSERT INTO MT_Group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null">Id,</if>
            <if test="name!=null AND name.length()!=0">Name,</if>
            <if test="code!=null AND code.length()!=0">Code,</if>
            <if test="status!=null">Status,</if>
            <if test="description!=null AND description.length()!=0">Description,</if>
        </trim>
        <trim prefix=" VALUES (" suffix=")" suffixOverrides=",">
            <if test="id!=null">#{id},</if>
            <if test="name!=null AND name.length()!=0">#{name},</if>
            <if test="code!=null AND code.length()!=0">#{code},</if>
            <if test="status!=null">#{status},</if>
            <if test="description!=null AND description.length()!=0">#{description},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.coderfamily.lamj.model.GroupEntity" useGeneratedKeys="true" keyProperty="Id">
        UPDATE MT_Group
        <set>
            <if test="id!=null">Id=#{id},</if>
            <if test="name!=null AND name.length()!=0">Name=#{name},</if>
            <if test="code!=null AND code.length()!=0">Code=#{code},</if>
            <if test="status!=null">Status=#{status},</if>
            <if test="description!=null AND description.length()!=0">Description=#{description},</if>
        </set>
        WHERE Id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM MT_Group WHERE Id=#{id}
    </delete>

    <sql id="sql_column">Id,Name,Code,Status,Description</sql>
    <sql id="sql_where">
        <if test="id!=null">AND Id=#{id}</if>
        <if test="name!=null AND name.length()!=0">AND Name=#{name}</if>
        <if test="code!=null AND code.length()!=0">AND Code=#{code}</if>
        <if test="status!=null">AND Status=#{status}</if>
        <if test="description!=null AND description.length()!=0">AND Description=#{description}</if>
    </sql>
</mapper>