<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coderfamily.lamj.dao.MenuMapper">
    <resultMap id="MenuEntity" type="com.coderfamily.lamj.model.MenuEntity">
        <result column="Id" jdbcType="INTEGER" property="id"/>
        <result column="Name" jdbcType="VARCHAR" property="name"/>
        <result column="Code" jdbcType="VARCHAR" property="code"/>
        <result column="Icon" jdbcType="VARCHAR" property="icon"/>
        <result column="Level" jdbcType="INTEGER" property="level"/>
        <result column="Path" jdbcType="VARCHAR" property="path"/>
        <result column="ParentId" jdbcType="INTEGER" property="parentId"/>
        <result column="Status" jdbcType="INTEGER" property="status"/>
    </resultMap>

    <resultMap id="UserTreeMenu" type="com.coderfamily.lamj.domain.MenuInfo" extends="MenuEntity">
        <collection property="childs"
                    javaType="java.util.ArrayList"
                    column="{id=id,userId=userId}"
                    ofType="com.coderfamily.lamj.model.MenuEntity"
                    select="selectMenuByUserIdAndParentId">
        </collection>
    </resultMap>

    <resultMap id="TreeMenu" type="com.coderfamily.lamj.domain.MenuInfo" extends="MenuEntity">
        <collection property="childs"
                    javaType="java.util.ArrayList"
                    column="id"
                    ofType="com.coderfamily.lamj.model.MenuEntity"
                    select="selectMenuByParentId">
        </collection>
    </resultMap>

    <select id="selectMenuByUserId" parameterType="int" resultMap="UserTreeMenu">
        SELECT M1.*,U1.UserId FROM MT_Menu M1 LEFT JOIN MT_PermissionMenu P1 ON M1.Id = P1.MenuId
        LEFT JOIN MT_UserPermission U1 ON P1.PermissionId = U1.PermissionId
        WHERE U1.UserId=#{userId} AND M1.LEVEL=1 AND M1.Status=1
        UNION
        SELECT M1.*,U1.UserId FROM MT_Menu M1 LEFT JOIN MT_PermissionMenu P1 ON M1.Id = P1.MenuId
        LEFT JOIN MT_GroupPermission G1 ON P1.PermissionId = G1.PermissionId
        LEFT JOIN MT_UserGroup U1 ON U1.GroupId = G1.GroupId
        WHERE U1.UserId=#{userId} AND M1.LEVEL=1 AND M1.Status=1
    </select>

    <select id="selectMenuByCondition" parameterType="com.coderfamily.lamj.model.MenuEntity" resultMap="MenuEntity">
        SELECT <include refid="sql_column"></include> FROM MT_Menu
        <where>
            <include refid="sql_where"></include>
        </where>
    </select>

    <select id="selectMenuByParentId" parameterType="int" resultMap="MenuEntity">
        SELECT <include refid="sql_column"></include> FROM MT_Menu WHERE ParentId=#{id}
    </select>

    <select id="selectMenuByTree" resultMap="TreeMenu">
        SELECT <include refid="sql_column"></include> FROM MT_Menu WHERE Level=1
    </select>

    <select id="selectMenuByUserIdAndParentId" parameterType="java.util.Map" resultMap="MenuEntity">
        SELECT M1.* FROM MT_Menu M1 LEFT JOIN MT_PermissionMenu P1 ON M1.Id = P1.MenuId
        LEFT JOIN MT_UserPermission U1 ON P1.PermissionId = U1.PermissionId
        WHERE U1.UserId=#{userId} AND M1.ParentId=#{id}
        UNION
        SELECT M1.* FROM MT_Menu M1 LEFT JOIN MT_PermissionMenu P1 ON M1.Id = P1.MenuId
        LEFT JOIN MT_GroupPermission G1 ON P1.PermissionId = G1.PermissionId
        LEFT JOIN MT_UserGroup U1 ON U1.GroupId = G1.GroupId
        WHERE U1.UserId=#{userId} AND M1.LEVEL=2 AND M1.ParentId=#{id}
    </select>

    <select id="selectMenuByPermissionId" parameterType="int" resultMap="MenuEntity">
        SELECT <include refid="sql_column"></include> FROM MT_Menu LEFT JOIN MT_PermissionMenu ON MT_Menu.Id =
        MT_PermissionMenu.MenuId
        WHERE MT_PermissionMenu.PermissionId = #{permissionId}
    </select>

    <select id="existsMenuByName" parameterType="String" resultType="boolean">
        SELECT EXISTS (SELECT 1 FROM MT_Menu WHERE Name=#{name})
    </select>

    <select id="selectMenuById" parameterType="int" resultMap="MenuEntity">
        SELECT <include refid="sql_column"></include> FROM MT_Menu WHERE Id = #{id}
    </select>

    <select id="selectMenuCodeToMaxByParentId" parameterType="int" resultType="String">
        SELECT MAX(Code) AS Code FROM MT_Menu WHERE ParentId=#{parentId}
    </select>

    <insert id="insert" parameterType="com.coderfamily.lamj.model.MenuEntity" useGeneratedKeys="true" keyProperty="Id">
        INSERT INTO MT_Menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null">Id,</if>
            <if test="name!=null AND name.length()!=0">Name,</if>
            <if test="code!=null AND code.length()!=0">Code,</if>
            <if test="icon!=null AND icon.length()!=0">Icon,</if>
            <if test="level!=null">Level,</if>
            <if test="path!=null AND path.length()!=0">Path,</if>
            <if test="parentId!=null">ParentId,</if>
            <if test="status!=null">Status,</if>
        </trim>
        <trim prefix=" VALUES (" suffix=")" suffixOverrides=",">
            <if test="id!=null">#{id},</if>
            <if test="name!=null AND name.length()!=0">#{name},</if>
            <if test="code!=null AND code.length()!=0">#{code},</if>
            <if test="icon!=null AND icon.length()!=0">#{icon},</if>
            <if test="level!=null">#{level},</if>
            <if test="path!=null AND path.length()!=0">#{path},</if>
            <if test="parentId!=null">#{parentId},</if>
            <if test="status!=null">#{status},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.coderfamily.lamj.model.MenuEntity">
        UPDATE MT_Menu
        <set>
            <if test="id!=null">Id=#{id},</if>
            <if test="name!=null AND name.length()!=0">Name=#{name},</if>
            <if test="code!=null AND code.length()!=0">Code=#{code},</if>
            <if test="icon!=null AND icon.length()!=0">Icon=#{icon},</if>
            <if test="level!=null">Level=#{level},</if>
            <if test="path!=null AND path.length()!=0">Path=#{path},</if>
            <if test="parentId!=null">ParentId=#{parentId},</if>
            <if test="status!=null">Status=#{status},</if>
        </set>
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM MT_Menu WHERE Id=#{id}
    </delete>

    <sql id="sql_column">Id,Name,Code,Icon,Level,Path,ParentId,Status</sql>
    <sql id="sql_where">
        <if test="id!=null">AND Id=#{id}</if>
        <if test="name!=null AND name.length()!=0">AND Name=#{name}</if>
        <if test="code!=null AND code.length()!=0">AND Code=#{code}</if>
        <if test="icon!=null AND icon.length()!=0">AND Icon=#{icon}</if>
        <if test="level!=null">AND Level=#{level}</if>
        <if test="path!=null AND path.length()!=0">AND Path=#{path}</if>
        <if test="parentId!=null">AND ParentId=#{parentId}</if>
        <if test="status!=null">AND Status=#{status}</if>
    </sql>
</mapper>