<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coderfamily.lamj.dao.PermissionMapper">
    <resultMap id="PermissionEntity" type="com.coderfamily.lamj.model.PermissionEntity">
        <result column="Id" jdbcType="INTEGER" property="id"/>
        <result column="Name" jdbcType="VARCHAR" property="name"/>
        <result column="Code" jdbcType="VARCHAR" property="code"/>
        <result column="Status" jdbcType="INTEGER" property="status"/>
        <result column="Description" jdbcType="VARCHAR" property="description"/>
        <result column="TypeId" jdbcType="INTEGER" property="typeId"/>
        <result column="TypeCode" jdbcType="INTEGER" property="typeCode"/>
        <result column="TypeName" jdbcType="INTEGER" property="typeName"/>
    </resultMap>

    <select id="selectPermissionByUserId" parameterType="int" resultMap="PermissionEntity">
        SELECT <include refid="sql_column"></include> FROM MT_Permission
        LEFT JOIN MT_UserPermission ON MT_UserPermission.PermissionId=MT_Permission.Id
        WHERE MT_UserPermission.UserId=#{userId}
    </select>
    <select id="selectPermissionByGroupId" parameterType="int" resultMap="PermissionEntity">
        SELECT <include refid="sql_column"></include> FROM MT_Permission
        LEFT JOIN MT_GroupPermission ON MT_GroupPermission.PermissionId=MT_Permission.Id
        WHERE MT_GroupPermission.GroupId=#{groupId}
    </select>
    <select id="selectPermissionByCondition" parameterType="com.coderfamily.lamj.model.PermissionEntity" resultMap="PermissionEntity">
        SELECT <include refid="sql_column"></include> FROM MT_Permission
        <where>
            <include refid="sql_where"></include>
        </where>
    </select>
    <select id="selectPermissionCodeForMax" resultType="String">
        SELECT MAX(Code) AS Code FROM MT_Permission
    </select>
    <select id="existsPermissionByName" parameterType="String" resultType="boolean">
        SELECT EXISTS (SELECT 1 FROM MT_Permission WHERE Name=#{name})
    </select>
    <select id="existsPermissionUserRelat" parameterType="int" resultType="boolean">
        SELECT EXISTS (SELECT 1 FROM MT_UserPermission WHERE PermissionId=#{id})
    </select>
    <select id="existsPermissionUserGroupRelat" parameterType="int" resultType="boolean">
        SELECT EXISTS (SELECT 1 FROM MT_GroupPermission WHERE PermissionId=#{id})
    </select>
    <insert id="insert" parameterType="com.coderfamily.lamj.model.PermissionEntity" useGeneratedKeys="true" keyProperty="Id">
        INSERT INTO MT_Permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null">Id,</if>
            <if test="name!=null">Name,</if>
            <if test="code!=null">Code,</if>
            <if test="status!=null">Status,</if>
            <if test="description!=null">Description,</if>
            <if test="typeId!=-1 and typeId!=null">TypeId,</if>
            <if test="typeCode!=null">TypeCode,</if>
            <if test="typeName!=null">TypeName,</if>
        </trim>
        <trim prefix=" VALUES ( " suffix=")" suffixOverrides=",">
            <if test="id!=null">#{id},</if>
            <if test="name!=null">#{name},</if>
            <if test="code!=null">#{code},</if>
            <if test="status!=null">#{status},</if>
            <if test="description!=null">#{description},</if>
            <if test="typeId!=-1 and typeId!=null">#{typeId},</if>
            <if test="typeCode!=null">#{typeCode},</if>
            <if test="typeName!=null">#{typeName},</if>
        </trim>
    </insert>
    <insert id="insertUserRelation" parameterType="java.util.List">
        INSERT INTO MT_UserPermission(PermissionId,UserId) VALUES
        <foreach collection="list" item="item" index="list" separator=",">
            (#{item.permissionId},#{item.userId})
        </foreach>
    </insert>
    <insert id="insertGroupRelation" parameterType="java.util.List">
        INSERT INTO MT_GroupPermission(PermissionId,GroupId) VALUES
        <foreach collection="list" item="item" index="list" separator=",">
            (#{item.permissionId},#{item.groupId})
        </foreach>
    </insert>
    <update id="update" parameterType="com.coderfamily.lamj.model.PermissionEntity">
        UPDATE MT_Permission
        <set>
            <if test="id!=null">Id=#{id},</if>
            <if test="name!=null">Name=#{name},</if>
            <if test="code!=null">Code=#{code},</if>
            <if test="status!=null">Status=#{status},</if>
            <if test="description!=null">Description=#{description},</if>
            <if test="typeId!=-1 and typeId!=null">TypeId=#{typeId},</if>
            <if test="typeCode!=null">TypeCode=#{typeCode},</if>
            <if test="typeName!=null">TypeName=#{typeName},</if>
        </set>
        WHERE Id=#{id}
    </update>
    <delete id="delete" parameterType="int">
        DELETE FROM MT_Permission WHERE Id=#{id}
    </delete>
    <delete id="deleteUserRelation" parameterType="int">
        DELETE FROM MT_UserPermission WHERE UserId=#{userId}
    </delete>
    <delete id="deleteGroupRelation" parameterType="int">
        DELETE FROM MT_GroupPermission WHERE GroupId=#{groupId}
    </delete>
    <sql id="sql_column">Id,Name,Code,Status,Description,TypeId,TypeCode,TypeName</sql>
    <sql id="sql_where">
        <if test="id!=null">AND Id=#{id}</if>
        <if test="name!=null">AND Name=#{name}</if>
        <if test="code!=null">AND Code=#{code}</if>
        <if test="status!=null">AND Status=#{status}</if>
        <if test="description!=null">AND Description=#{description}</if>
        <if test="typeId!=-1 and typeId!=null">AND TypeId=#{typeId}</if>
        <if test="typeCode!=null">AND TypeCode=#{typeCode}</if>
        <if test="typeName!=null">AND TypeName=#{typeName}</if>
    </sql>
</mapper>