<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coderfamily.lamj.dao.SubmissionMapper">
    <resultMap id="SubmissionEntity" type="com.coderfamily.lamj.model.SubmissionEntity">
        <result column="Id" jdbcType="INTEGER" property="id"/>
        <result column="CompanyId" jdbcType="INTEGER" property="companyId"/>
        <result column="ThemeId" jdbcType="INTEGER" property="themeId"/>
        <result column="ThemeCode" jdbcType="VARCHAR" property="themeCode"/>
        <result column="ThemeName" jdbcType="VARCHAR" property="themeName"/>
        <result column="Title" jdbcType="VARCHAR" property="title"/>
        <result column="UserId" jdbcType="INTEGER" property="userId"/>
        <result column="UserName" jdbcType="VARCHAR" property="userName"/>
        <result column="CreateTime" jdbcType="VARCHAR" property="createTime"/>
        <result column="Status" jdbcType="INTEGER" property="status"/>
        <result column="Path" jdbcType="VARCHAR" property="path"/>
        <result column="Url" jdbcType="VARCHAR" property="url"/>
    </resultMap>

    <select id="select" parameterType="Map" resultMap="SubmissionEntity">
        SELECT <include refid="sql_column"></include> FROM MT_Submission
        <where>
            <if test="companyId!=null and companyId>0">AND CompanyId=#{companyId}</if>
            <if test="themeId!=null">AND ThemeId=#{themeId}</if>
            <if test="title!=null and title.length()>0">AND Title=#{title}</if>
            <if test="userId!=null">AND UserId=#{userId}</if>
            <if test="processId!=null">AND ProcessId=#{processId}</if>
        </where>
    </select>

    <select id="selectById" parameterType="int" resultMap="SubmissionEntity">
        SELECT <include refid="sql_column"></include> FROM MT_Submission WHERE Id=#{id}
    </select>

    <insert id="insert" parameterType="com.coderfamily.lamj.model.SubmissionEntity" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO MT_Submission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null">Id,</if>
            <if test="companyId!=null">CompanyId,</if>
            <if test="themeId!=null">ThemeId,</if>
            <if test="themeCode!=null">ThemeCode,</if>
            <if test="themeName!=null">ThemeName,</if>
            <if test="title!=null">Title,</if>
            <if test="userId!=null">UserId,</if>
            <if test="userName!=null">UserName,</if>
            <if test="createTime!=null">CreateTime,</if>
            <if test="status!=null">Status,</if>
            <if test="path!=null">Path,</if>
            <if test="url!=null">Url,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null">#{id},</if>
            <if test="companyId!=null">#{companyId},</if>
            <if test="themeId!=null">#{themeId},</if>
            <if test="themeCode!=null">#{themeCode},</if>
            <if test="themeName!=null">#{themeName},</if>
            <if test="title!=null">#{title},</if>
            <if test="userId!=null">#{userId},</if>
            <if test="userName!=null">#{userName},</if>
            <if test="createTime!=null">#{createTime},</if>
            <if test="status!=null">#{status},</if>
            <if test="path!=null">#{path},</if>
            <if test="url!=null">#{url},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.coderfamily.lamj.model.SubmissionEntity">
        UPDATE MT_Submission
        <set>
            <if test="themeId!=null">#{themeId},</if>
            <if test="themeCode!=null">#{themeCode},</if>
            <if test="themeName!=null">#{themeName},</if>
            <if test="title!=null">#{title},</if>
            <if test="status!=null">#{status},</if>
            <if test="path!=null">#{path},</if>
            <if test="url!=null">#{url},</if>
        </set>
        WHERE Id=#{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM MT_Submission WHERE Id=#{id}
    </delete>

    <delete id="deleteByCompanyId" parameterType="int">
        DELETE FROM MT_Submission WHERE CompanyId=#{companyId}
    </delete>

    <delete id="deleteByUserId" parameterType="int">
        DELETE FROM MT_Submission WHERE UserId=#{userId}
    </delete>

    <sql id="sql_column">Id,CompanyId,ThemeId,ThemeCode,ThemeName,Title,UserId,UserName,CreateTime,Status,Path,Url</sql>
</mapper>