<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coderfamily.lamj.dao.SubmissionMapper">
    <resultMap id="BaseResultMap" type="com.coderfamily.lamj.model.SubmissionEntity">
        <result column="Id" jdbcType="INTEGER" property="id"/>
        <result column="CompanyId" jdbcType="INTEGER" property="companyId"/>
        <result column="ThemeId" jdbcType="INTEGER" property="themeId"/>
        <result column="ThemeCode" jdbcType="VARCHAR" property="themeCode"/>
        <result column="ThemeName" jdbcType="VARCHAR" property="themeName"/>
        <result column="Title" jdbcType="VARCHAR" property="title"/>
        <result column="UserId" jdbcType="INTEGER" property="userId"/>
        <result column="UserName" jdbcType="VARCHAR" property="userName"/>
        <result column="CreateTime" jdbcType="VARCHAR" property="createTime"/>
        <result column="Status" jdbcType="INTEGER" property="status"/>
        <result column="Path" jdbcType="VARCHAR" property="path"/>
        <result column="Url" jdbcType="VARCHAR" property="url"/>
    </resultMap>
</mapper>