<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coderfamily.lamj.dao.UserMapper">
    <resultMap id="UserEntity" type="com.coderfamily.lamj.model.UserEntity">
        <result column="Id" jdbcType="INTEGER" property="id"/>
        <result column="UserAccount" jdbcType="VARCHAR" property="userAccount"/>
        <result column="Password" jdbcType="VARCHAR" property="password"/>
        <result column="NickName" jdbcType="VARCHAR" property="nickName"/>
        <result column="Tel" jdbcType="VARCHAR" property="tel"/>
        <result column="Sex" jdbcType="INTEGER" property="sex"/>
        <result column="PhotoUrl" jdbcType="VARCHAR" property="photoUrl"/>
        <result column="Status" jdbcType="INTEGER" property="status"/>
    </resultMap>

    <select id="selectUserListByCondition" parameterType="com.coderfamily.lamj.model.UserEntity" resultMap="UserEntity">
        SELECT <include refid="sql_column"></include> FROM MT_User WHERE 1=1 <include refid="sql_where"></include>
    </select>

    <select id="selectUserById" parameterType="int" resultMap="UserEntity">
        SELECT <include refid="sql_column"></include> FROM MT_User WHERE Id = #{id}
    </select>

    <insert id="insert" parameterType="com.coderfamily.lamj.model.UserEntity" useGeneratedKeys="true" keyProperty="Id">
        INSERT INTO MT_User
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null">Id,</if>
            <if test="userAccount!=null">UserAccount,</if>
            <if test="password!=null">Password,</if>
            <if test="nickName!=null">NickName,</if>
            <if test="tel!=null">Tel,</if>
            <if test="sex!=null">Sex,</if>
            <if test="photoUrl!=null">PhotoUrl,</if>
            <if test="status!=null">Status,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null">#{id},</if>
            <if test="userAccount!=null">#{userAccount},</if>
            <if test="password!=null">#{password},</if>
            <if test="nickName!=null">#{nickName},</if>
            <if test="tel!=null">#{tel},</if>
            <if test="sex!=null">#{sex},</if>
            <if test="photoUrl!=null">#{photoUrl},</if>
            <if test="status!=null">#{status},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.coderfamily.lamj.model.UserEntity">
        UPDATE MT_User
        <set>
            <if test="id!=null">Id=#{id},</if>
            <if test="userAccount!=null">UserAccount=#{userAccount},</if>
            <if test="password!=null">Password=#{password},</if>
            <if test="nickName!=null">NickName=#{nickName},</if>
            <if test="tel!=null">Tel=#{tel},</if>
            <if test="sex!=null">Sex=#{sex},</if>
            <if test="photoUrl!=null">PhotoUrl=#{photoUrl},</if>
            <if test="status!=null">Status=#{status},</if>
        </set>
        WHERE Id=#{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM MT_User WHERE Id=#{id}
    </delete>

    <select id="selectUserByUserAccount" parameterType="String" resultMap="UserEntity">
        SELECT <include refid="sql_column"></include> FROM MT_User WHERE UserAccount=#{userAccount}
    </select>

    <select id="login" parameterType="String" resultMap="UserEntity">
        SELECT <include refid="sql_column"></include> FROM MT_User WHERE userAccount=#{userAccount}
    </select>

    <select id="existsUserByUserAccount" parameterType="String" resultType="boolean">
        SELECT EXISTS (SELECT 1 FROM MT_User WHERE UserAccount=#{userAccount})
    </select>

    <select id="existsUserRelationGroup" parameterType="Map" resultType="boolean">
        SELECT EXISTS (SELECT 1 FROM MT_UserGroup WHERE UserId=#{userId} AND GroupId=#{groupId})
    </select>

    <select id="existsUserRelationPermission" parameterType="Map" resultType="boolean">
        SELECT EXISTS (SELECT 1 FROM MT_UserPermission WHERE UserId=#{userId} AND PermissionId=#{permissionId})
    </select>

    <sql id="sql_column">Id,UserAccount,Password,NickName,Tel,Sex,PhotoUrl,Status</sql>
    <sql id="sql_where">
        <if test="id!=null">AND Id=#{id}</if>
        <if test="userAccount!=null">AND UserAccount=#{userAccount}</if>
        <if test="password!=null">AND Password=#{password}</if>
        <if test="nickName!=null">AND NickName=#{nickName}</if>
        <if test="tel!=null">AND Tel=#{tel}</if>
        <if test="sex!=null">AND Sex=#{sex}</if>
        <if test="photoUrl!=null">AND PhotoUrl=#{photoUrl}</if>
        <if test="status!=null">#{Status},</if>
    </sql>
</mapper>