<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coderfamily.lamj.dao.UserMapper">
    <resultMap id="UserEntity" type="com.coderfamily.lamj.model.UserEntity">
        <result column="Id" jdbcType="INTEGER" property="id"/>
        <result column="UserAccount" jdbcType="VARCHAR" property="userAccount"/>
        <result column="Password" jdbcType="VARCHAR" property="password"/>
        <result column="NickName" jdbcType="VARCHAR" property="nickName"/>
        <result column="Tel" jdbcType="VARCHAR" property="tel"/>
        <result column="Sex" jdbcType="INTEGER" property="sex"/>
        <result column="PhotoUrl" jdbcType="VARCHAR" property="photoUrl"/>
        <result column="Status" jdbcType="INTEGER" property="status"/>
        <result column="TypeId" jdbcType="INTEGER" property="typeId"/>
        <result column="TypeCode" jdbcType="VARCHAR" property="typeCode"/>
        <result column="TypeName" jdbcType="VARCHAR" property="typeName"/>
        <result column="Email" jdbcType="VARCHAR" property="email"/>
        <result column="StarLevelId" jdbcType="INTEGER" property="starLevelId"/>
        <result column="StarLevelCode" jdbcType="VARCHAR" property="starLevelCode"/>
        <result column="StarLevelName" jdbcType="VARCHAR" property="starLevelName"/>
    </resultMap>

    <resultMap id="UserDetail" type="com.coderfamily.lamj.domain.UserDetail" extends="UserEntity">
        <result column="CompanyId" jdbcType="INTEGER" property="companyId"/>
        <result column="TeamId" jdbcType="INTEGER" property="teamId"/>
        <result column="PermissionId" jdbcType="INTEGER" property="permissionId"/>
    </resultMap>

    <select id="selectUserListByCondition" parameterType="com.coderfamily.lamj.domain.UserDetail" resultMap="UserEntity">
        SELECT <include refid="sql_column"></include> FROM MT_User
        <if test="companyId!=null and companyId!=-1">LEFT JOIN MT_CompanyUser ON MT_CompanyUser.UserId=MT_User.Id</if>
        <if test="teamId!=null and teamId!=-1">LEFT JOIN MT_TeamUser ON MT_TeamUser.UserId=MT_User.Id</if>
        WHERE 1=1
        <include refid="sql_where"></include>
    </select>

    <select id="selectUserById" parameterType="int" resultMap="UserEntity">
        SELECT <include refid="sql_column"></include> FROM MT_User WHERE Id = #{id}
    </select>

    <insert id="insert" parameterType="com.coderfamily.lamj.model.UserEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO MT_User
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null">Id,</if>
            <if test="userAccount!=null">UserAccount,</if>
            <if test="password!=null">Password,</if>
            <if test="nickName!=null">NickName,</if>
            <if test="tel!=null">Tel,</if>
            <if test="sex!=-1 and sex!=null">Sex,</if>
            <if test="photoUrl!=null">PhotoUrl,</if>
            <if test="status!=-1 and status!=null">Status,</if>
            <if test="typeId!='' and typeId!=null">TypeId,</if>
            <if test="typeCode!=null">TypeCode,</if>
            <if test="typeName!=null">TypeName,</if>
            <if test="email!=null">Email,</if>
            <if test="starLevelId!=-1 and starLevelId!=null">StarLevelId,</if>
            <if test="starLevelCode!=null">StarLevelCode,</if>
            <if test="starLevelName!=null">StarLevelName,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null">#{id},</if>
            <if test="userAccount!=null">#{userAccount},</if>
            <if test="password!=null">#{password},</if>
            <if test="nickName!=null">#{nickName},</if>
            <if test="tel!=null">#{tel},</if>
            <if test="sex!=-1 and sex!=null">#{sex},</if>
            <if test="photoUrl!=null">#{photoUrl},</if>
            <if test="status!=-1 and status!=null">#{status},</if>
            <if test="typeId!=-1 and typeId!=null">#{typeId},</if>
            <if test="typeCode!=null">#{typeCode},</if>
            <if test="typeName!=null">#{typeName},</if>
            <if test="email!=null">#{email},</if>
            <if test="starLevelId!=-1 and starLevelId!=null">#{starLevelId},</if>
            <if test="starLevelCode!=null">#{starLevelCode},</if>
            <if test="starLevelName!=null">#{starLevelName},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.coderfamily.lamj.model.UserEntity">
        UPDATE MT_User
        <set>
            <if test="id!=null">Id=#{id},</if>
            <if test="userAccount!=null">UserAccount=#{userAccount},</if>
            <if test="password!=null">Password=#{password},</if>
            <if test="nickName!=null">NickName=#{nickName},</if>
            <if test="tel!=null">Tel=#{tel},</if>
            <if test="sex!=-1">Sex=#{sex},</if>
            <if test="photoUrl!=null">PhotoUrl=#{photoUrl},</if>
            <if test="status!=-1">Status=#{status},</if>
            <if test="typeId!=-1">TypeId=#{typeId},</if>
            <if test="typeCode!=null">TypeCode=#{typeCode},</if>
            <if test="typeName!=null">TypeName=#{typeName},</if>
            <if test="email!=null">Email=#{email},</if>
            <if test="starLevelId!=-1 and starLevelId!=null">StarLevelId=#{starLevelId},</if>
            <if test="starLevelCode!=null">StarLevelCode=#{starLevelCode},</if>
            <if test="starLevelName!=null">StarLevelName=#{starLevelName},</if>
        </set>
        WHERE Id=#{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM MT_User WHERE Id=#{id}
    </delete>

    <select id="selectUserByUserAccount" parameterType="String" resultMap="UserDetail">
        SELECT MT_User.*,MT_CompanyUser.CompanyId,MT_TeamUser.TeamId,MT_UserPermission.PermissionId
        FROM MT_User
        LEFT JOIN MT_CompanyUser ON MT_User.Id=MT_CompanyUser.UserId
        LEFT JOIN MT_TeamUser ON MT_User.Id=MT_TeamUser.UserId
        LEFT JOIN MT_UserPermission ON MT_User.Id=MT_UserPermission.UserId
        WHERE UserAccount=#{userAccount}
    </select>

    <select id="login" parameterType="String" resultMap="UserEntity">
        SELECT <include refid="sql_column"></include> FROM MT_User WHERE userAccount=#{userAccount}
    </select>

    <select id="existsUserByUserAccount" parameterType="String" resultType="boolean">
        SELECT EXISTS (SELECT 1 FROM MT_User WHERE UserAccount=#{userAccount})
    </select>

    <select id="existsUserRelationPermission" parameterType="Map" resultType="boolean">
        SELECT EXISTS (SELECT 1 FROM MT_UserPermission WHERE UserId=#{userId} AND PermissionId=#{permissionId})
    </select>

    <sql id="sql_column">Id,UserAccount,Password,NickName,Tel,Sex,PhotoUrl,Status,TypeId,TypeCode,TypeName,Email,StarLevelId,StarLevelCode,StarLevelName</sql>
    <sql id="sql_where">
        <if test="id!=null">AND Id=#{id}</if>
        <if test="userAccount!=null">AND UserAccount=#{userAccount}</if>
        <if test="password!=null">AND Password=#{password}</if>
        <if test="nickName!=null and nickName.length()>0">AND NickName=#{nickName}</if>
        <if test="tel!=null">AND Tel=#{tel}</if>
        <if test="sex!=-1 and sex!=null">AND Sex=#{sex}</if>
        <if test="photoUrl!=null">AND PhotoUrl=#{photoUrl}</if>
        <if test="status!=-1 and status!=null">AND Status=#{status}</if>
        <if test="typeId!=-1 and typeId!=null">AND TypeId=#{typeId}</if>
        <if test="typeCode!=null">AND TypeCode=#{typeCode}</if>
        <if test="typeName!=null">AND TypeName=#{typeName}</if>
        <if test="email!=null">AND Email=#{email}</if>
        <if test="starLevelId!=-1 and starLevelId!=null">AND StarLevelId=#{starLevelId}</if>
        <if test="starLevelCode!=null">AND StarLevelCode=#{starLevelCode}</if>
        <if test="starLevelName!=null">AND StarLevelName=#{starLevelName}</if>
        <if test="companyId!=null and companyId!=-1 and companyId!=0">AND MT_CompanyUser.CompanyId=#{companyId}</if>
        <if test="teamId!=null and teamId!=-1 and teamId!=0">AND MT_TeamUser.TeamId=#{teamId}</if>
    </sql>
</mapper>